<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<meta charset="UTF-8">
	<title>Athlet Homepage</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

</head>


<body ng-controller="myCtrl">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">
		  {{ companyName }}
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon">
		  </span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item">
			  <a class="nav-link" href="./home">
				Home
			  </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="./profile">
				Profile
			  </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="./messaging">
				Messages
			  </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="./connections">
				Connections
			  </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="./jobs">
				Jobs
			  </a>
			  <li class="nav-item">
				<a class="nav-link" ng-click="showNotifications()">
				  Notifications
				  <span class="badge badge-light">
					{{ notifications.length }}
				  </span>
				</a>
			  </li>
		  </ul>
		</div>
	  </nav>

    <div ng-show="notificationsVisible" class="notifications-widget">
        <ul>
          <li ng-repeat="notification in notifications" ng-class="{read: notification.read}">
            {{notification.text}}
          </li>
        </ul>
      </div>
      


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 sidebar">
				<h2>Sidebar</h2>
				<ul class="list-unstyled">
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
				</ul>
			</div>
			<div class="col-md-8">
				<div class="post-container">
					<div class="post" ng-repeat="post in posts">
						<div class="post-header">
							<div class="profile-pic"></div>
							<div class="post-header-info">
								<h4>{{ post.name }}</h4>
								<p>{{ post.title }}</p>
							</div>
						</div>
						<div class="post-content">
							<p>{{ post.content }}</p>
							<img ng-if="post.image" src="{{ post.image }}" alt="Post Image">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<h2>Right Sidebar</h2>
				<p>Right sidebar content goes here.</p>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="../controllers/HomeController.js"></script>
	</script>